<nav>
    <div class="nav-brand">
        <a href="/" class="logo-link">
            <div class="logo-icon chrome-effect">JB</div>
            <span class="site-title">Blog Project</span>
        </a>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>