<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>
        <div class="animated-bg"></div>
        <div class="container">
            <%- include('./partials/nav.ejs') %>

                <main class="about content">
                    <h2>About Us</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos alias, praesentium
                        exercitationem
                        incidunt quos beatae repellat quisquam rerum quibusdam, doloremque saepe ipsa atque
                        molestias nam
                        illo mollitia voluptates placeat harum!</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos alias, praesentium
                        exercitationem
                        incidunt quos beatae repellat quisquam rerum quibusdam, doloremque saepe ipsa atque
                        molestias nam
                        illo mollitia voluptates placeat harum!</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos alias, praesentium
                        exercitationem
                        incidunt quos beatae repellat quisquam rerum quibusdam, doloremque saepe ipsa atque
                        molestias nam
                        illo mollitia voluptates placeat harum!</p>
                </main>

                <%- include('./partials/footer.ejs') %>
        </div>
    </body>

</html>